---
// import { Image } from 'astro:assets';

---

<section class="hero-container">

    <div class="hero-txt">
        <h2 class="hero-txt__h2">Perforaciones los paisa</h2>
        <h1 class="hero-txt__h1">Perforaciones de agua para viviendas agro e industrias</h1>
        <span class="hero-txt__span">Seguridad, experiencia y calidad</span>
        <span class="hero-txt__btn" id="contactBtn">Contáctenos</span>
    </div>

</section>

<div id="myModal" class="modal">

	<div class="modal-content">
		<span class="close">
			&times;
		</span>
		<h2>Este es un modal</h2>
		<form id="contactForm" class="formulario-contacto">

			<div>
				<label for="name">Nombre:</label>
				<input type="text" id="name" name="name" required>
			</div>

			<div>
				<label for="phone">Teléfono:</label>
				<input type="tel" id="phone" name="phone" required>
			</div>

			<div>
				<label for="address">Dirección:</label>
				<input type="text" id="address" name="address" required>
			</div>

			<div>
				<label for="city">Localidad:</label>
				<input type="text" id="city" name="city" required>
			</div>

			<div>
				<label for="service">Tipo de Servicio:</label>
				<select id="service" name="service" required>
					<option value="servicio1">Servicio 1</option>
					<option value="servicio2">Servicio 2</option>
					<option value="servicio3">Servicio 3</option>
				</select>
			</div>

            <button type="submit">Enviar</button>
        </form>
	</div>

</div>

<script>

	let modal = document.getElementById("myModal");

	let btn = document.getElementById("contactBtn");

	let span = document.getElementsByClassName("close")[0];

	btn.addEventListener("click", (event) => {
  		modal.style.display = "block";
		setTimeout(() => modal.classList.add("show"),10);
	});

	span.addEventListener("click", (event) => {
  		modal.style.display = "none";
		setTimeout(() => modal.style.display="none",400);
	});

	window.onclick = function (event) {
		if(event.target == modal){
			modal.style.display="none";
			setTimeout(() => modal.style.display="none",400);
		}
	}

	// Manejar el envío del formulario
	document.getElementById("contactForm").onsubmit = function(event) {
		event.preventDefault(); // Evitar el envío del formulario de manera tradicional

		// Obtener los valores del formulario
		var name = (document.getElementById("name") as HTMLInputElement).value;
		var phone = (document.getElementById("phone") as HTMLInputElement).value;
		var address = (document.getElementById("address") as HTMLInputElement).value;
		var city = (document.getElementById("city") as HTMLInputElement).value;
		var service = (document.getElementById("service") as HTMLInputElement).value;

		// Construir el mensaje
		var message = `Nombre: ${name}%0ATeléfono: ${phone}%0ADirección: ${address}%0ALocalidad: ${city}%0ATipo de Servicio: ${service}`;

		// Enlace para WhatsApp
		var whatsappUrl = `https://api.whatsapp.com/send?phone=2224463130&text=${message}`; // Reemplaza 1234567890 con el número de teléfono

		// Redirigir al usuario a WhatsApp
		window.location.href = whatsappUrl;
	}	

</script>

<style>

	.modal{
		display: none;
		position: fixed;
		z-index: 1001;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0,);
		background-color: rgba(0, 0, 0,0.4);
		text-align: center;
		
	}
	.modal-content{
		background-color: #fefefe;
		margin: 15% auto;
		padding: 20px;
		border: solid 1px #888;
		width: 50%;
		transform: translateY(-100%);
		transition: transform 0.3s ease-out;
	}
	.modal.show .modal-content{
		transform: translateY(0);
	}
	.close{
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}
	.close:hover,
	.close:focus{
		color: black;
		text-decoration: none;
		cursor: pointer;
	}

	.formulario-contacto{
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 25px;
	}

    
    .hero-container{
		width: 100%;
		height: 600px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background: linear-gradient(to left,rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.6) 60% 100%),url(../images/hero-perforaciones.jpg) no-repeat center / cover ;
		background-attachment: fixed;
	}
	.hero-logo{
		width: 125px;
		height: 125px;
		border-radius: 50%;
		box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
	}
	.hero-logo__img{
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}

	.hero-txt{
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		padding-left: 5%;
		gap: 0px;
		color: white;
		font-weight: bold;
	}
	.hero-txt__h2{
		font-size: 1.2rem;
		text-transform: uppercase;
	}
	.hero-txt__h1{
		font-size: 2rem;
	}
	.hero-txt__span{
		font-size: 1.2rem;
		font-weight: normal;
		text-transform: uppercase;
		margin-top: 5px;
	}
	.hero-txt__btn{
		background: var(--principal);
		color: white;
		padding: 10px 20px;
		border-radius: 10px;
		text-transform: uppercase;
		margin-top: 15px;
		cursor: pointer;
		transition: var(--trans-02);
	}
	.hero-txt__btn:hover{
		background: var(--principal2);
	}

</style>